<% if (!spree_current_user || !spree_current_user.user_authentications) && Spree::AuthenticationMethod.active_authentication_methods? %>
  <div class="eight columns">
  
    <h2><%= Spree.t(:sign_in_through_service) %></h2>

    <% Spree::AuthenticationMethod.available_for(@spree_user).each do |method| %>
      <%
      img = "store/#{method.provider}_32.png"
      provider_name = SpreeSocial::OAUTH_PROVIDERS.find{ |p| p[1] == method.provider }[0]
      %>
      <%= link_to(image_tag(img, :size => "32x32", :alt => "#{provider_name}"), spree.spree_user_omniauth_authorize_url(provider: method.provider), :title => Spree.t(:sign_in_with, :provider => provider_name)) if method.active %>
    <% end %>

  </div>
<% end %>
